:root{
    --boo-bg-main: #f8f9fa ;
    --boo-bg-sidebar: #051e34 ;
    --boo-bg-badge-primary: #165bba ;
}


#site_header{
    height: 80px;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--boo-bg-sidebar);
    background-size: cover;
    height: calc(100vh - 80px);
    width: 50px;

}
.content{
    background-color: var(--boo-bg-main);
    height: calc(100vh - 80px);
    width: calc(100vw - 50px);
    overflow-y: auto;
}


.bg_badge{
    background-color: var(--boo-bg-badge-primary);
}

.bg_gray_hover{
 transition: .5s all;
}

.bg_gray_hover:hover{
    background-color: gray;
}

.sidebar a{
    color: var(--boo-bg-main);
    text-decoration: none;
}

@media screen and (min-width:992px) {
    .sidebar{
        height: calc(100vh - 80px);
        width: 200px;
    }
    .content{
        width: 100%;
    }
    .container_special{
        width: calc(100vw - 200px);
    }
    main{
        height: calc(100vh - 80px);
    }

    .w_lg_50{
        width: 50% !important; 
    }
}


/* #region debug */

.debug .container_special{
    width: calc(100vw - 200px);
}
.debug #site_header{
    height: 80px;
    background-color: gray;
}
    

.debug .banner{
    background-color: blue;
    width: calc(100vw - 50px);
}

.debug .content{
    background-color: wheat;
    height: calc(100vh - 80px);

}



.debug [class^='col']{
    background-color: aquamarine; 
    height: 100px;
    border: 3px solid red;
}

@media screen and (min-width:992px) {
    .debug .sidebar{
        height: calc(100vh - 82px);
        width: 200px;
    }
    .debug .banner{
        background-color: blue;
        width: calc(100vw - 200px);
    }
    .debug .content{
        background-color: wheat;
        margin-left: auto;
    }
    .debug .container_special{
        width: calc(100vw - 200px);
    }
}

/* #endregion debug */